<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.testproject.parts.mapper.ProductMapper">
    <select id="findById" resultType="cn.testproject.parts.entity.Product">
        SELECT
        *
        FROM
        tb_product
        WHERE id =#{id}
        limit 1

    </select>

</mapper>